# Игнорировать временные файлы и каталоги
*~
*.swp
.DS_Store

# Игнорировать файлы с настройками IDE
.idea/
.vscode/

# Игнорировать зависимости и временные каталоги Node.js
node_modules/
npm-debug.log

# Игнорировать файлы сборки и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы логов и отчеты о покрытии тестами
*.log
*.log.*
coverage/

# Игнорировать файлы для языка программирования Java
*.class
target/

# Игнорировать файлы конфигурации
*.config

# Игнорировать файлы для языка программирования Ruby
*.gem
*.rbc
*.rbo
